/********************************************************* GENERAL ***/
* {
     margin:0;
}
body {
     color:#fff;
     background-color:#000;
     font-family: Arial, sans-serif;
}
#bloc_page {
     width: 900px;
    margin: auto;
}

/********************************************************** HEADER ***/

header {
     width:100%;
     height:150px;
     display: flex;
    justify-content: space-between;
    align-items: flex-end;
     background-color: rgba(0, 0, 0, 0.50);
     border-bottom: 3px solid #f39237;
}
h1 {
     position:absolute;
     left:300px;
     top: 0;
     font-size: 98px;
     letter-spacing:0.5em;
     font-family: 'Hobo Std';                      
}
h1 a{text-decoration: none;color: #f39237;}
h3{
     margin-right: 20px;
     font-size: 34px;
     font-family: 'Kaushan Script';
     color: #f39237;
}

/***************************************************************NAV***/
 
nav ul
{
 display: flex; 
 border-bottom: 1px solid #f39237;
}

 nav ul li{
     list-style-type: none;
     margin: auto;
     height:42px;
}
 nav ul li a {
     display: flex;
     text-decoration:none;
     color:#fff;
     text-transform:uppercase;
     font-size:16px;
     margin:10px;
}     

 nav li a:hover{
     color: #f39237;
     -webkit-transition: 300ms;
}

/***********************************************************GALERIE***/
#gallery{text-align: center;position:relative;}
#gallery ul li{
     
     padding:10px;
     list-style:none;
}      
ul li img{position:relative;
     width:600px;
     height:400px;
     border:2px solid #f39237;  
     border-radius: 3px;   
}
#retour_haut{display: flex;
     width: 80px;
     margin:20px;
     color:#f39237;
     text-decoration:none;
     background: black;
}

/********************************************************** FOOTER ***/
footer{position:absolute;
     width: 100%;
     display: flex;
     background:#fff;
     border-top:3px solid #f39237;
     box-shadow: 0px -2px 0px 0px white, 0px -4px 0px 0px black, 0px -6px 0px 0px white;
}

footer section{
     color: #2e2e2e;
     padding:17px;
}    
#adresse-footer {
   
     
     font-size:15px;
     text-transform:uppercase;
}


/* CSS PSEUDO OO    */

/*.wrapLeft{float:left;}
.btn{
display:inline-block;height:20px;
text-indent:23px;
text-shadow:0px -1px 0px black;
}*/
/*#gallery ul li a img .biImg{
     opacity:1;
     position: absolute;
     z-index: 20;
    
}
.nom{
     position:relative;
     display:inline-block;
     height:28px;
     padding:2px 3px 0px 3px;
     margin-top:3px;
     font-size:0.8em;  
     background:rgba(0,0,0,.4);
     color:#f39237;
     text-decoration:none;
     /*text-shadow:0px 1px 1px rgba(0,0,0,0.4);*/
     /*border-radius:2px;
     box-shadow:0px 1px 0px rgba(255,255,255,0.3);
     /*-webkit-transition:all 0.2s ease;
     -moz-transition:all 0.2s ease;
     -o-transition:all 0.2s ease;
        transition:all 0.2s ease;   */     
/*}
.nom:hover{color:black;}

#gallery {
    clear: right;
    position: relative;
    overflow: hidden;
    
    
}*/
